<form action="/definitions_input/id" method="post">
  <div class="form-group">
    <h2>Input word definition(s)</h2>
    <input name="definition" class="form-control" type="text" placeholder= "Enter definition"><br>
    <button type="definition" class="btn btn-primary">Add definition</button>
    <button class="btn btn-primary" id="clear" formaction='/clear'>Home</button>
  </div>

  <div id="output">
    <% @list.each do |x| %>
      <h4><%= x.definition %></h4>
    <% end %>

  </div>
</form>
