<div class="jumbotron">
  <h1>Definitions</h1>
</div>

<form action="/definitions/:id" method="post">
  <div class="form-group">
    <h2>Input word definition(s)</h2>
    <input name="add_definition" class="form-control" type="text" placeholder= "Enter definition"><br>
    <button type="add_definition" class="btn btn-primary">Add definition</button>
    <button class="btn btn-primary" id="clear" formaction='/clear'>Clear</button>
  </div>

  <div id="output">
    <h3>Definition(s):</h3><br>
    <% @definition_list.each do |item| %>
      <h4><%= item.word %></h4>
      <% end %>
  </div>
</form>
